<p>Hey <%= @user.name.capitalize %></p>

<p>You've been invited to be an admin on Moirée. You can accept it through the link below.</p>

<p style="text-align: center; margin: 32px 0;"><%= link_to "Accept invitation", edit_identity_password_reset_url(sid: @signed_id), style: "padding: 8px 12px; background-color: #4f46e5; border-radius: 4px; color: white; font-weight: 600; text-decoration: none;" %></p>

<p>If you don't want to accept the invitation, please ignore this email.</p>

<hr>

<p>Have questions or need help? Just reply to this email and our support team will help you sort it out.</p>

<p style="font-size: 0.75rem; margin-top: 32px;">Here's the invitation link, in case the button above doesn't work: <%= link_to edit_identity_password_reset_url(sid: @signed_id), edit_identity_password_reset_url(sid: @signed_id), style: "word-break: break-all;" %></p>
