Hey <%= @user.name.capitalize %>

Here's the magic sign-in link to Moirée that you requested:

Sign in without a password: <%= verify_url(sid: @signed_id) %>

------------------------------------------------------------

<p>Have questions or need help? Just reply to this email and our support team will help you sort it out.</p>
