<% if model.errors.any? %>
  <div class="text-red-600 p-4 border-red-600 border rounded-sm bg-red-100 mb-4">
    <h2 class="mb-4"><%= pluralize(model.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul class="my-4">
      <% model.errors.each do |error| %>
        <li class="font-medium"><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
