<%= turbo_frame_tag "modal" do %>
  <h1 class="text-2xl font-semibold mb-4">Add an Edition to <%= @edition.festival.short_name %></h1>
  <%= render partial: "form", locals: { edition: @edition } %>
<% end %>
