<li class="bg-white p-6 flex flex-col justify-between shadow-xs rounded-sm hover:shadow-lg transition-shadow hover:cursor-pointer my-1 md:my-0">
  <%= render partial: "admin/films/film_detail", locals: { film: film } %>
</li>
