  <article>
    <h1 class="font-semibold my-2 leading-tight"><%= film.title %></h1>
    <p class="text-sm my-0.5"><%= film.director %></p>
    <p class="text-sm my-0.5"><%= film.countries.join(", ") %></p>
    <p class="text-sm my-0.5"><%= film.year %></p>
  </article>
