<div class="grid grid-cols-1 grid-rows-[auto_minmax(0,100vh)] h-screen">
  <div class="flex justify-between items-center mb-4 w-full p-4 backdrop-blur-md bg-white">
    <h1 class="text-2xl font-bold">Podcasts</h1>
    <div class="flex gap-2">
      <% if policy(Podcast).new? %>
        <%= link_to "New Podcast", new_admin_podcast_path, data: { turbo_frame: "modal", controller: "modal", action: "modal#show", "modal-dialog-param": "global-modal" }, class: "bg-indigo-500 hover:bg-indigo-700 text-white font-semibold py-1 px-2 rounded-sm text-sm" %>
      <% end %>
    </div>
  </div>

  <ul id="podcasts">
    <% if @podcasts.any? %>
      <%= render partial: "podcast", collection: @podcasts %>
    <% else %>
      <li id="podcasts-empty" class="flex flex-col justify-center items-center h-full">
        <p>No podcasts yet.</p>
        <div class="flex gap-2 mt-2">
          <% if policy(Podcast).new? %>
            <%= link_to "Add podcast", new_admin_podcast_path,
              data: {
                turbo_frame: "modal",
                controller: "modal",
                action: "modal#show",
                "modal-dialog-param": "global-modal"
              },
              class: "inline-block bg-indigo-500 hover:bg-indigo-700 text-white font-semibold py-1 px-2 rounded-sm text-xs"
            %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
