<%= content_for :content do %>
  <div class="flex w-full h-full min-h-screen flex-col justify-center items-center">
    <div class="w-[95%] md:w-[40%] bg-white rounded-md shadow-md p-8">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
